.management-container{
	display: flex;
	flex-direction: column;

	.forms-container {
		display: flex;
		flex-direction: row;

		.main-form-container {
			padding: 16px;
			flex: 1;	
			.form-fields {
				display: flex;
				flex-direction: column;
				gap: 16px;
				/* max-width: 500px; */

				.form-input {
					padding: 8px;
				}
				.form-textarea {
					padding: 8px;
					min-height: 80px;
				}

				.price-container {
					display: flex;
					gap: 12px;
					align-items: center
				}
			}
		}
		.characteristics-form-container {
			display: flex;
			flex-direction: column;
			flex: 1;	
			padding: 16px;

			.part-badges-container {
				padding: 8px;
				border: 0.5px solid;
				border-radius: 8px;
				border-color:antiquewhite;
				display: flex;
				flex-direction: row;
				justify-content: space-around;
				margin-top: 24px;

				.part-badge {
					border-radius: 4px;
					padding: 8px;
					background-color: blueviolet;
				
				}
			}
		}
	}
	.action-btn {
		max-width: 500px;
		align-self: center;
		margin-top: 8px;
	}

}


  .characteristic-container { 
	border: 1px solid #e0e0e0;
	border-radius: 4px;
	padding: 8px;

	.characteristic-label {
		font-weight: bold;
		margin-bottom: 4px;
		display: block;
	}

	.characteristic-options {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}
  }
  
  
  
  .characteristic-option-label {
	display: flex;
	align-items: center;
	gap: 6px;
	padding: 6px 10px;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .characteristic-option-label input {
	margin: 0;
  }