.cart-item-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	justify-content: space-between;
	border-bottom: 1px solid;
	border-color: lightgray;

	.cart-item-detail {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px
	}
	.cart-item-detail {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 16px
	}
}