.product-detail-container {
	display: flex;
	flex-direction: row;

	.product-detail-left {
		flex: 1;
		padding: 16px;

	}
	.product-detail-right {
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 24px;

		.customization-container {
			display: flex;
			flex-direction: column;
			gap: 16px;
		}

		.add-to-cart-btn {
			margin-top: 24px;
		}
	}

}

